<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show author</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
    >

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<!--/*@thymesVar id="author" type="com.tomryc.theauthorstore.model.author"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-9">
                                <h1 class="panel-title" th:text="${author.name}">Author Name Here!</h1>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-default" href="#"
                                   th:href="@{'/author/' + ${author.id} + '/image'}" role="button">Change Image</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 form-group">
                                <label>Description:</label>
                            </div>
                            <div class="col-md-4">
                                <img  src="../../static/images/default-author.png"
                                      th:src="@{'/author/' + ${author.id} + '/authorimage'}"
                                      width="200" height="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <b>URL:</b>
                            </div>
                            <div class="col-md-6">
                                <p><a th:href="@{${author.url}}">About an author</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Notes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p> <!--th:text="${author.title}"-->Place for note</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Author's Books in My Bookstore:</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:each="book : ${author.books}">
                                        <a th:text=${book.title} th:href="@{'/book/' + ${book.id} + '/show'}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>